@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&family=Lilita+One&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color:rgb(215, 248, 248);
}